        <!-- Education -->
        <article id="education">
          <div class="navigation-buttons" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="#intro" class="navigation-link button" style="flex: 1">Previous: Intro</a>
            <a href="#work-experience" class="navigation-link button" style="flex: 1; text-align: right">Next: Work Experience</a>
          </div>
          <div style="margin-bottom: 30px"></div>
          <h2 class="major">Education</h2>
          <span class="image main"><img src="images/education.jpg" alt="" /></span>
          <div class="education-entry">
            <h3>University of Bologna</h3>
            <p>Master of Science (M.S.) in Artificial Intelligence</p>
            <ul>
              <li>Thesis title: Integration of AI models into Unreal Engine</li>
              <li>GPA: 3.78</li>
            </ul>
            <p class="dates">Sep 2021 - Oct 2024</p>
          </div>
          <div class="education-entry">
            <h3>University of Damghan</h3>
            <p>Bachelor of Science (B.S.) in Computer Science</p>
            <p class="dates">Feb 2015 - Feb 2019</p>
          </div>
        </article>

