      <!-- Header -->
      <header id="header">
        <div class="logo">
          <span class="icon fa-gem"></span>
        </div>
        <div class="content">
          <div class="inner">
            <h1>Mohammadreza Hosseini</h1>
            <p>AI Engineer</p>
          </div>
        </div>
        <nav>
          <ul>
            <li><a href="#intro">Intro</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#work-experience">Work Experience</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#research-interest">Research Interest</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
      </header>

