        <!-- Intro -->
        <article id="intro">
          <div class="navigation-buttons" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="#education" class="navigation-link button" style="flex: 1; text-align: right">Next: Education</a>
          </div>
          <div style="margin-bottom: 30px"></div>
          <h2 class="major">Intro</h2>
          <span class="image main"><img src="images/intro.jpg" alt="" /></span>
          <p>Oh hello there! 😁</p>

          <p>
            I am an Artificial Intelligence Specialist with several years of
            experience in Python, but for my friends, I’m still the person who
            speaks more in code than words 😂
          </p>

          <p>✨ <strong>My Passion and Purpose?</strong></p>

          <p>
            I’m passionate about AI because of its limitless potential to solve
            real-world problems and create future-changing technologies. I enjoy
            pushing boundaries with AI models, and I’m driven by the desire to
            innovate and simplify complex tasks through automation.
          </p>

          <p>🚀 <strong>What I’m Proud to Have Accomplished:</strong></p>

          <ul>
            <li>
              AI Model Integration into Unreal Engine → Obsidian Gateway –
              Developing a sophisticated pipeline for real-time AI vision
              integration into Unreal Engine, blending cutting-edge technology
              with immersive experiences.
            </li>
            <li>
              Synthetic Medical Image Generation – Generating synthetic medical
              imagery that revolutionizes research and AI-driven solutions.
            </li>
            <li>
              Abbreviation Disambiguation in Medical NLP – Enhancing medical
              systems' ability to interpret clinical abbreviations with
              precision.
            </li>
          </ul>

          <p>
            💻 I speak not in my mother tongue, but in Python! I’ve worked with
            a wide range of Python libraries and tools, mainly in AI,
            Networking, and Backend development. Thanks to my Master's in AI at
            Bologna, I’ve also gotten my hands on Prolog, Minizinc, and Lisp,
            enriching my toolbox for solving complex problems.
          </p>

          <p>
            ✏️ Alongside my work, I post educational content on LinkedIn and
            love sharing knowledge to help others grow.
          </p>

          <p>👥 <strong>Let’s Connect:</strong></p>

          <p>
            I thrive on learning new things and am always eager to dive into
            fresh challenges. I’m very precise (some might say too precise 😂)
            and I take deadlines seriously. I also have a habit of automating
            anything repetitive, making tasks a one-click affair.
          </p>

          <p>
            👋🏻 Thanks for visiting my website! Feel free to
            <a href="#contact">drop me a message</a>
            anytime 📧
          </p>
        </article>

