        <!-- Research Interest -->
        <article id="research-interest">
          <div class="navigation-buttons" style="display: flex; justify-content: space-between; align-items: center;"><a href="#skills" class="navigation-link button" style="flex: 1">Previous: Skills</a><a href="#contact" class="navigation-link button" style="flex: 1; text-align: right">Next: Contact</a></div>
          <div style="margin-bottom: 30px"></div>
          <h2 class="major">Research Interest</h2>
          <span class="image main"><img src="https://post.parliament.uk/content/uploads/sites/3/2023/12/29838157788_96a34b12c5_k-568x320.jpg" alt=""/></span>
          <p>My research interests span across a diverse range of topics in Artificial Intelligence, software engineering, and automation. I am particularly passionate about:</p>
          <ul>
            <li><strong>Computer Vision and 3D Reconstruction:</strong> Developing methods for image recognition, object detection, and 3D scene reconstruction to create immersive experiences in both medical and entertainment contexts.</li>
            <li><strong>Generative AI and Transformers:</strong> Leveraging Generative AI models, such as ControlNet and large language models (LLMs), to push the boundaries of creative content generation and enhance natural language understanding.</li>
            <li><strong>Natural Language Processing (NLP) in Medical Context:</strong> Building NLP systems to handle medical terminologies, improve communication in healthcare settings, and tackle the challenges of disambiguation in clinical texts.</li>
            <li><strong>Network Security:</strong> Investigating secure integration of AI systems in networks, focusing on ensuring data privacy and robustness against cyber threats.</li>
            <li><strong>Backend Development and Automation:</strong> Creating robust backend solutions, automating workflows to reduce manual effort, and integrating advanced AI capabilities into traditional software systems.</li>
            <li><strong>Web Scraping and Data Collection:</strong> Designing efficient web scraping tools to collect data for AI model training, while adhering to best practices in ethical data usage.</li>
            <li><strong>Integration of AI into Gaming Engines:</strong> Exploring the use of AI models in game development platforms like Unreal Engine and Unity to create smarter, adaptive gameplay and enhanced player experiences.</li>
          </ul>
          <p>I am especially interested in bridging the gap between research and practical applications, whether it is through developing real-time AI systems for gaming, creating automation solutions that enhance productivity, or employing Generative AI to solve complex real-world challenges.</p>
        </article>

