        <!-- Skills -->
        <article id="skills">
          <div class="navigation-buttons" style="display: flex; justify-content: space-between; align-items: center;"><a href="#projects" class="navigation-link button" style="flex: 1">Previous: Projects</a><a href="#research-interest" class="navigation-link button" style="flex: 1; text-align: right">Next: Research Interest</a></div>
          <div style="margin-bottom: 30px"></div>
          <h2 class="major">Skills</h2>
          <h3>Programming Languages</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=python,js,java,kotlin,cpp,r&theme=light" alt="Programming Languages" />
            </a>
          </p>

          <h3>Data Science & Machine Learning</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=sklearn,opencv&theme=light" alt="Data Science & Machine Learning" />
            </a>
          </p>
          <p>
            <img src="https://img.shields.io/badge/PyTorch-%23EE4C2C.svg?style=for-the-badge&logo=PyTorch&logoColor=white" alt="PyTorch" />
            <img src="https://img.shields.io/badge/TensorFlow-FF6F00?style=for-the-badge&logo=tensorflow&logoColor=white" alt="TensorFlow" />
            <img src="https://img.shields.io/badge/pandas-%23150458.svg?style=for-the-badge&logo=pandas&logoColor=white" alt="Pandas" />
            <img src="https://img.shields.io/badge/numpy-%23013243.svg?style=for-the-badge&logo=numpy&logoColor=white" alt="NumPy" />
            <img src="https://img.shields.io/badge/SciPy-%230C55A5.svg?style=for-the-badge&logo=scipy&logoColor=white" alt="SciPy" />
            <img src="https://img.shields.io/badge/Keras-%23D00000.svg?style=for-the-badge&logo=Keras&logoColor=white" alt="Keras" />
            <img src="https://img.shields.io/badge/Plotly-%233F4F75.svg?style=for-the-badge&logo=plotly&logoColor=white" alt="Plotly" />
          </p>

          <h3>DevOps and Cloud Computing</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=aws,gcp,docker,terraform&theme=light" alt="DevOps and Cloud Computing" />
            </a>
          </p>
          <p>
            <img src="https://img.shields.io/badge/Kubernetes-326CE5?style=for-the-badge&logo=kubernetes&logoColor=white" alt="Kubernetes" />
            <img src="https://img.shields.io/badge/DevOps-2496ED?style=for-the-badge&logo=docker&logoColor=white" alt="DevOps" />
          </p>

          <h3>Development Tools & Environments</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=anaconda,cmake,vscode,pycharm&theme=light" alt="Development Tools & Environments" />
            </a>
          </p>

          <h3>Version Control & Collaboration</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=github,gitlab,git,stackoverflow&theme=light" alt="Version Control & Collaboration" />
            </a>
          </p>

          <h3>Databases & Data Management</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=postgres,redis,sqlite&theme=light" alt="Databases & Data Management" />
            </a>
          </p>
          <p>
            <img src="https://img.shields.io/badge/SQL-00000F?style=for-the-badge&logo=mysql&logoColor=white" alt="SQL" />
            <img src="https://img.shields.io/badge/BigQuery-4285F4?style=for-the-badge&logo=google-cloud&logoColor=white" alt="BigQuery" />
          </p>

          <h3>Data Warehouses & Big Data</h3>
          <p>
            <img src="https://img.shields.io/badge/Apache%20Spark-FDEE21?style=for-the-badge&logo=apachespark&logoColor=black" alt="Apache Spark" />
            <img src="https://img.shields.io/badge/Apache%20Hadoop-66CCFF?style=for-the-badge&logo=apachehadoop&logoColor=black" alt="Apache Hadoop" />
            <img src="https://img.shields.io/badge/Snowflake-29B5E8?style=for-the-badge&logo=snowflake&logoColor=black" alt="Snowflake" />
            <img src="https://img.shields.io/badge/Amazon%20Redshift-FF9900?style=for-the-badge&logo=amazonaws&logoColor=black" alt="Amazon Redshift" />
          </p>

          <h3>Operating Systems & Platforms</h3>
          <p>
            <img src="https://img.shields.io/badge/Windows_11-0078d4?style=for-the-badge&logo=windows-11&logoColor=white" alt="Windows 11" />
            <img src="https://img.shields.io/badge/mac%20os-000000?style=for-the-badge&logo=apple&logoColor=white" alt="macOS" />
            <img src="https://img.shields.io/badge/Linux-FCC624?style=for-the-badge&logo=linux&logoColor=black" alt="Linux" />
          </p>

          <h3>Text Processing & Formatting</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=latex,regex&theme=light" alt="Text Processing & Formatting" />
            </a>
          </p>

          <h3>Web Development & APIs</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=css,html,jquery,postman,selenium&theme=light" alt="Web Development" />
            </a>
          </p>
          <p>
            <img src="https://img.shields.io/badge/Nginx-009639?style=for-the-badge&logo=nginx&logoColor=white" alt="Nginx" />
            <img src="https://img.shields.io/badge/Django-092E20?style=for-the-badge&logo=django&logoColor=green" alt="Django" />
            <img src="https://img.shields.io/badge/daphne-092E20?style=for-the-badge&logo=django&logoColor=green" alt="Daphne" />
            <img src="https://img.shields.io/badge/channels-092E20?style=for-the-badge&logo=django&logoColor=green" alt="Channels" />
            <img src="https://img.shields.io/badge/django%20rest-ff1709?style=for-the-badge&logo=django&logoColor=white" alt="Django REST" />
          </p>

          <h3>Game Development</h3>
          <p>
            <a href="https://skillicons.dev">
              <img src="https://skillicons.dev/icons?i=unreal&theme=light" alt="Game Development" />
            </a>
          </p>
        </article>

