helper.html
node_modules
pack*
setup.yaml
*.log
*.fls
*.fdb_latexmk
*.aux
*.cls
*.tex
*.xdv
*.xml
*.bcf
*.run.xml
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.lot
*.lof
*.lot
cover
OpenFonts
Makefile